.home-container {
  min-height: calc(100vh - 200px);
}

.home-hero {
  color: white;
  padding: 4rem 2rem;
  text-align: center;
}

.home-hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home-hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.home-hero-buttons {
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.home-hero-buttons .btn {
  font-size: 1.2rem;
}

.home-content {
  padding: 2rem 2rem;
}

.home-section-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.home-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home-card-center {
  text-align: center;
}

.home-categories {
  margin-top: 5rem;
}
